* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);

  border-radius: 2rem;

  min-height: 80vh;
  width: 60%;

  z-index: 2;
}

.circle-1,
.circle-2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;

  height: 20rem;
  width: 20rem;

  position: absolute;
}

.circle-1 {
  top: 5%;
  right: 10%;
}

.circle-2 {
  bottom: 5%;
  left: 10%;
}
