@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

h1,
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  border-radius: 2rem;

  min-height: 80vh;
  width: 60%;

  z-index: 2;

  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
  display: flex;
  margin: 2rem 0;
  padding: 1rem 5rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(232, 236, 241, 0.8);
  border-radius: 2rem;
}

.link h2 {
  padding: 0 2rem;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pro img {
  display: block;
  width: 80px;
  height: 80px;
}

.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

.circle-1,
.circle-2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;

  height: 20rem;
  width: 20rem;

  position: absolute;
}

.circle-1 {
  top: 5%;
  right: 10%;
}

.circle-2 {
  bottom: 5%;
  left: 10%;
}
